@model Halbot.Models.ChartsVolumeModel

@{
    ViewData["Title"] = "Volume";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="_ChartsMenu" , model="new ChartsMenuModel { CurrentChart = ChartsMenuModel.ChartType.Volume }" />

<br />

<p><b>Distance as 28-day moving daily average:</b></p>

<table>
    <tr>
        <td colspan="3">
            @Html.Raw(Model.DistanceChart.CreateHTML())
        </td>
    </tr>
    
    <tr>
        <td>@(DateTime.Now.Year - 10)</td>
        <td>&nbsp;</td>
        <td class="right">Now</td>
    </tr>
</table>

<br /><br />

<p><b>Climb as 28-day moving daily average:</b></p>

<table>
    <tr>
        <td colspan="3">
            @Html.Raw(Model.ClimbChart.CreateHTML())
        </td>
    </tr>
    
    <tr>
        <td>@(DateTime.Now.Year - 10)</td>
        <td>&nbsp;</td>
        <td class="right">Now</td>
    </tr>
</table>



<br />

