@model Halbot.Models.ChartsWorkloadModel

@{
    ViewData["Title"] = "ChartsWorkload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<partial name="_ChartsMenu" , model="new ChartsMenuModel { CurrentChart = ChartsMenuModel.ChartType.Workload }" />

<p><b>Workload per week:</b></p>
@Html.Raw(Model.CircleChart.CreateHTML())
<table>
    <tr>
        <td>&uarr; Pace</td>
        <td>&nbsp;</td>
        <td class="right">Heartrate &rarr;</td>
    </tr>
</table>
<br />

&nbsp;<span style="height: 20px; width: 20px; background-color: #2db92d; border-radius: 50%; display: inline-block;"></span> = Last run <br />
&nbsp;<span style="height: 20px; width: 20px; background-color: gold; border-radius: 50%; display: inline-block;"></span> = Runs this week <br />
&nbsp;<span style="height: 20px; width: 20px; background-color: #0099cc; border-radius: 50%; display: inline-block;"></span> = Runs last week <br />
&nbsp;<span style="height: 20px; width: 20px; background-color: #cccccc; border-radius: 50%; display: inline-block;"></span> = Runs this year <br />


