@model Halbot.Models.ImportModel

@{
    ViewData["Title"] = "Import";
    Layout = "_Layout";
}

<div class="box">

    <!-- Garmin activities -->

    <h3>Import Garmin Activities</h3>
    @using (Html.BeginForm("LoadGarminActivities", "Import", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <label>Paste Garmin activity <b>ID's</b> here (semicolon seperated):</label>
        <br />
        <textarea name="garminActivityIds" id="garminActivityIds"></textarea>
        <input type="submit" name="submit" id="LoadGarminActivities" value="IMPORT" />

    }

</div>

<div class="box">

    <!-- Workouts -->

    <h3>Add workout</h3>
    @using (Html.BeginForm("AddWorkout", "Import", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <label>Minutes:</label>
        <br />
        <input type="number" name="minutes" id="minutes" value="20" />
        <br />
        <label>Date:</label>
        <br />
        <input type="date" name="date" id="date" value="@DateTime.Now.Date.ToString("yyyy-MM-dd")" />
        <input type="submit" name="submit" id="AddWorkout" value="ADD" />

    }

</div>

