@using System.Globalization

@{
    ViewData["Title"] = "Map";
    Layout = "_Layout";
}

@section styles {
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.5.0/dist/leaflet.js" integrity="sha512-3Wcxp7F9bV2pl+MBgrL6Pz7AJASLpemmQPIiPA0lDs3ImF0z4JuuMIBPeirLbgIuhfH2gJyGWZjvm6M+Zr7L6Q==" crossorigin=""></script>
}

<div id="mapid" style="width: 900px; height: 900px;"></div>


<script>

    var mymap = L.map('mapid').setView([52.145, 4.531], 4);

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw',
        {
            attribution: '© <a href="https://www.mapbox.com/about/maps/">Mapbox</a> © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> <strong><a href="https://www.mapbox.com/map-feedback/" target="_blank">Improve this map</a></strong>',
            tileSize: 512,
            maxZoom: 18,
            zoomOffset: -1,
            id: 'mapbox/streets-v11',
            accessToken: 'pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw'
        }).addTo(mymap);

    markers = [
        @for (int i = 0; i < Model.Geos.Count; i++)
        {
            <text>{ lat: @Model.Geos[i].Lat.ToString(CultureInfo.InvariantCulture), lng: @Model.Geos[i].Lng.ToString(CultureInfo.InvariantCulture) },</text>
        }
    ];

    for (var i = 0; i < markers.length; ++i) {
        L.marker([markers[i].lat, markers[i].lng])
            .addTo(mymap);
    };

</script>

<div class="imglnk">
<a href="https://citystrides.com/users/36287/map"><img src="https://citystrides.com/assets/logo_full-a64e81669f4e09c7a22d31cefb0f4e562c51f5d859c836383c0f6bd5f526becf.png"/></a>
</div>
