@using System.Globalization

@{
    ViewData["Title"] = "Map";
    Layout = "_Layout";
}

@section styles {
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script> <!-- Make sure you put this AFTER Leaflet's CSS -->
}

<div id="mapid" style="width: 900px; height: 900px;"></div>


<script>

    var mymap = L.map('mapid').setView([52.145, 4.531], 4);
    
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(mymap);

    markers = [
        @for (int i = 0; i < Model.Geos.Count; i++)
        {
            <text>{ 
                lat: @Model.Geos[i].Lat.ToString(CultureInfo.InvariantCulture), 
                lng: @Model.Geos[i].Lng.ToString(CultureInfo.InvariantCulture),
                lnk: @Model.Geos[i].Id.ToString()
            }, </text>
        }
    ];

    for (var i = 0; i < markers.length; ++i) {            
        L.circleMarker([markers[i].lat, markers[i].lng], {
            color: '#0c66e4',
            fillColor: '#0c66e4',
            fillOpacity: 0.0,
            radius: 3
        }).addTo(mymap).bindPopup('<a href="https://halbot2.azurewebsites.net/Home/Run/' + markers[i].lnk + '">View activity</a>');
    };

</script>

<div class="imglnk">
<a href="https://citystrides.com/users/36287/map"><img src="https://citystrides.com/assets/logo_full-a64e81669f4e09c7a22d31cefb0f4e562c51f5d859c836383c0f6bd5f526becf.png"/></a>
</div>
