@model Halbot.Models.PlanModel

@{
    ViewData["Title"] = "Plan";
    Layout = "_Layout";
}


<!-- DISPLAY-->
@foreach (var record in Model.PlanRecords.OrderBy(p => p.Date))
{
    <div class="box">
        <table>
            <tr><th>@record.Date.ToLongDateString()</th></tr>
            <tr><td>&nbsp;</td></tr>
            <tr><td><b>@($"{record.Description}")</b></td></tr>
        </table>
    </div>
}

