body {
    width: 900px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #63422D;
}

footer {
    font-size: 18px;
    color: #63422D;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #4D2C1E;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.imglnk {
    text-align: center;
    width: 100%;
}

.imglnk img {
    padding-top: 15px;
    text-align: center;
    width: 33%;
}

.alternating tr:nth-of-type(odd) {
    background-color: #f9f2ec;
}

.alternating td {
    padding: 6px;
}

th {
    font-weight: bold;
    color: #033f63;
    text-align: left;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #A6845B;
    box-sizing: border-box;
    font-size: 32px;
    -webkit-appearance: none;
}

textarea {
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #A6845B;
    box-sizing: border-box;
    font-size: 32px;
    -webkit-appearance: none;
}

input[type=submit] {
    width: 100%;
    background-color: #A6845B;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    font-size: 32px;
    -webkit-appearance: none;
}

input[type=submit]:hover {
        background-color: #63422D;
}

input[type=color] {
    width: 10%;
    float: right;
}

input[type=date] {
    width: 30%;
    float: left;
}

button {
    width: 100%;
    background-color: #033F63;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    font-size: 32px;
}

.nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.menubutton {
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    width: 120px;
    height: 80px;
    padding: 3px;
    text-align: right;
    line-height: 130px;
}

    .menubutton a {
        color: white;
    }

.box {
    background-color: #f9f2ec;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px;
}

.bordering-box {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 5px;
}

.log {
    font-size: 18px;
}

.log td {
    padding: 2px;

}

.right {
    text-align: right;
}

/* button colors*/

#runs {
    background-color: #033F63;
}

#charts {
    background-color: #28666e;
}

#stats {
    background-color: #527F7A;
}

#races {
    background-color: #7C9885;
}

#map {
    background-color: #A4A475;
}

#plan {
    background-color: #57b776;
}

#import {
    background-color: #A6845B;
}

#delete {
    background-color: red;
}


/* distance colors */

td.xshort {
    background-color: #6cccd7;
}
td.short {
    background-color: #57b776;
}
td.medium {
    background-color: #feeb51;
}
td.long {
    background-color: #ffb92a;
}
td.xlong {
    background-color: #ed5314;
}

/* plan label colors */
td.Easy {
    background-color: #94c748;
}
td.Interval {
    background-color: #ae4787;
}
td.Race {
    background-color: #ca3521;
}
td.Tempo {
    background-color: #0c66e4;
}
td.Trail {
    background-color: #b65c02;
}
td.Hills {
    background-color: #e2b203;
}

/* Chart stuff */
.lastvolume,
.lastclimb,
.lastpace,
.monthvolume,
.monthpace,
.monthclimb,
.weekvolume,
.weekpace,
.weekclimb {
    padding: 0px;
    font-size: 16px;
    text-align: center;
}


/* Chart colors */

div.volume {
    background-color: goldenrod;
}

td.volume {
    color: goldenrod;
}

div.pace {
    background-color: cadetblue;
}

td.pace {
    color: cadetblue;
}

div.climb {
    background-color: darkseagreen;
}

td.climb {
    color: darkseagreen;
}

div.plan {
    background-color: rebeccapurple;
}



