@model Halbot.Models.ChartsMenuModel
<a asp-area="" asp-controller="Home" asp-action="PreviousChart" , asp-route-chart=@Model.CurrentChart><img src="/images/Previous_Arrow.svg.png" width="32" height="32" /></a>
<a asp-area="" asp-controller="Home" asp-action="NextChart" , asp-route-chart=@Model.CurrentChart><img src="/images/Next_Arrow.svg.png" width="32" height="32" /></a>