<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Halbot - @ViewData["Title"]</title>
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
    @RenderSection("styles", false)
    <link rel="apple-touch-icon" href="~/icons/apple-touch-icon-iphone-60x60.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/icons/apple-touch-icon-ipad-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/icons/apple-touch-icon-iphone-retina-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/icons/apple-touch-icon-iphone-retina-120x120.png">
</head>
<body>

<div class="nav">
    <div class="menubutton" id="runs"><a asp-area="" asp-controller="Home" asp-action="Index">runs</a></div>
    <div class="menubutton" id="charts"><a asp-area="" asp-controller="Home" asp-action="Charts">charts</a></div>
    <div class="menubutton" id="stats"><a asp-area="" asp-controller="Home" asp-action="Stats">stats</a></div>
    <div class="menubutton" id="races"><a asp-area="" asp-controller="Home" asp-action="Races">races</a></div>
	<div class="menubutton" id="map"><a asp-area="" asp-controller="Home" asp-action="Map">map</a></div>
	<div class="menubutton" id="plan"><a asp-area="" asp-controller="Home" asp-action="Plan">plan</a></div>
    <div class="menubutton" id="import"><a asp-area="" asp-controller="Home" asp-action="Import">import</a></div>
</div>

    <div>
        @RenderBody()


        <footer>
            <p>
                &copy; @DateTime.UtcNow.Year Halbot v2.01 - <a asp-area="" asp-controller="Home" asp-action="Log">View log</a>
                @if (ViewData["Title"].ToString() == "Log") {  <a asp-area="" asp-controller="Home" asp-action="Backup">- Get backup</a> }
            </p>
        </footer>
    </div>

</body>
</html>